/* main.css */
p {
  color: green;
}

/* hexadecimal colors */
.hexadecimalColor {
  color: #59bd75;
}
/* RGB colors */
.rgbColor {
  color: rgb(89, 189, 117);
}

/* font-family */
.fontFamily {
  font-family: Helvetica, Arial, sans-serif;
}

/* font-face */
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}
.customFont {
  font-family: "Open Sans";
}
