.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  & > h1 {
    grid-column: 1 / -1;
  }
}

.card {
  --shadow-color: color-mix(in srgb, var(--color-dark-gray) 50%, transparent);
  
  @media (prefers-color-scheme: dark) {
    --shadow-color: color-mix(in srgb, var(--color-light-gray) 40%, transparent);
  }

  display: flex;
  align-items: stretch;

  box-shadow: 0 3px 3px var(--shadow-color);


  & img {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
  }

  & > a {
    display: flex;
    flex: 1;
    flex-direction: column;

    color: inherit;
    text-align: center;
    text-decoration: none;

    & > h2 {
      margin-top: auto;

      font-family: inherit;
      font-size: inherit;
    }
  }
}
