.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  & > h1 {
    grid-column: 1 / -1;
  }
}

.addBtn {
  --bgColor: var(--color-brand-highlight);
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  padding: 1.5rem;

  background: var(--bgColor);
  border: none;
  border-radius: 50%;
  color: var(--color-brand-dark);
  cursor: pointer;
  font-size: 3rem;
  line-height: 0;

  &:hover {
    --bgColor: color-mix(in srgb, var(--color-brand-highlight) 70%, #fff);
  }
}

.card {
  --shadow-color: color-mix(in srgb, var(--color-dark-gray) 50%, transparent);
  
  @media (prefers-color-scheme: dark) {
    --shadow-color: color-mix(in srgb, var(--color-light-gray) 40%, transparent);
  }

  display: flex;
  align-items: stretch;

  box-shadow: 0 3px 3px var(--shadow-color);


  & img {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
  }

  & > a {
    display: flex;
    flex: 1;
    flex-direction: column;

    color: inherit;
    text-align: center;
    text-decoration: none;

    & > h2 {
      margin-top: auto;

      font-family: inherit;
      font-size: inherit;
    }
  }
}
