.counter{
    width: 400px;
    border: 1px solid;
    text-align: center;
    padding: 1rem;
}

.display{
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.counter-buttons{
    padding: 0.5rem;
    border-top: 1px solid grey;
}