body {
    margin: 0;
}

#display{
    font-size: 3rem;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(254, 254, 234);
    height: 100vh;
    text-align: center;
    color: darkslategrey;
    padding: 1rem;
}